<stem>
	<p align="justify">
		<span word-font="Times New Roman">WPS office</span>
		<span word-font="宋体">文档编辑：</span>
	</p>
	<p align="justify">
		<span word-font="宋体">（</span>
		<span word-font="Times New Roman">1</span>
		<span word-font="宋体">）打开</span>
		<span word-font="Times New Roman">WPS</span>
		<span word-font="宋体">文字，输入以下文本：</span>
	</p>
	<p align="justify">
		<span word-font="宋体">“万维网通过超文本链接实现了信息的便捷浏览和共享，使得互联网变得更加易于使用。”</span>
	</p>
	<p align="justify">
		<span word-font="宋体">（</span>
		<span word-font="Times New Roman">2</span>
		<span word-font="宋体">）将“万维网通过超文本链接实现了信息的便捷浏览和共享”设置为楷体，字号为</span>
		<span word-font="Times New Roman">12</span>
		<span word-font="宋体">号。“使得互联网变得更加易于使用”设置为微软雅黑，字号为</span>
		<span word-font="Times New Roman">14</span>
		<span word-font="宋体">号。</span>
	</p>
	<p align="justify">
		<span word-font="宋体">（</span>
		<span word-font="Times New Roman">3</span>
		<span word-font="宋体">）将整段文本左对齐，设置段落的首行缩进为</span>
		<span word-font="Times New Roman">3</span>
		<span word-font="宋体">个字符。将页边距设置为“窄”（上：</span>
		<span word-font="Times New Roman">1.27cm</span>
		<span word-font="宋体">，下：</span>
		<span word-font="Times New Roman">1.27cm</span>
		<span word-font="宋体">，左：</span>
		<span word-font="Times New Roman">1.27cm</span>
		<span word-font="宋体">，右：</span>
		<span word-font="Times New Roman">1.27cm</span>
		<span word-font="宋体">），纸张大小设置为</span>
		<span word-font="Times New Roman">16</span>
		<span word-font="宋体">开。</span>
	</p>
	<p align="justify">
		<span word-font="宋体">（</span>
		<span word-font="Times New Roman">4</span>
		<span word-font="宋体">）保存文件，文件名为：万维网</span>
		<span word-font="Times New Roman">.docx</span>
		<span word-font="宋体">。</span>
	</p>
</stem>