<exps>
	<seg name="详解">
		<p align="left">
			<span word-font="宋体">本题考查校园局域网设备与网络测试。校园局域网组建需要多种设备，路由器可提供网络信号并分配</span>
			<span word-font="Times New Roman">IP</span>
			<span word-font="宋体">地址，交换机用于扩展接口以连接多台设备，网线连接设备与交换机或路由器，终端设备如电脑和平板等是局域网中的最终使用设备。网络测试方面，</span>
			<span word-font="Times New Roman">ping</span>
			<span word-font="宋体">命令可检查设备连通性，如输入特定</span>
			<span word-font="Times New Roman">IP</span>
			<span word-font="宋体">地址来测试与路由器的连接；访问互联网测试可打开浏览器尝试访问网页以查看网络是否正常；传输文件测试通过局域网共享文件夹检查文件传输是否正常。</span>
		</p>
	</seg>
</exps>